<ion-header>
  <ion-toolbar color="light">
    <ion-title color="secondary"> {{"PACIENTERECORD.title" | translate}} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">


  
 <div [style.display]="isVisibleRecording ? 'block' : 'none'">
   
  <ion-text color="secondary" style="padding-left: 16px;">
    <h6  class="ion-padding-start, ion-padding-horizontal"  [innerHTML]="'PACIENTERECORD.text' | translate"> </h6>
  </ion-text>
  <br><br>

  <ion-button  expand="block" color="secondary" size="large" (click)="recordVoice()">  <ion-icon name="recording-outline" size="large"></ion-icon> </ion-button>
 


 </div>


 <ion-list color="light" [style.display]="isVisibleRecording ? 'none' : 'block'">
  <ion-list-header>
    <ion-label color="secondary"> {{"PACIENTERECORD.recording" | translate }} </ion-label>
  </ion-list-header>
  <ion-progress-bar color="secondary" value={{progress}}  buffer={{buffer}}></ion-progress-bar>
</ion-list>



</ion-content>
