<ion-tabs color="light">

  <ion-tab-bar slot="bottom">
    <ion-tab-button  tab="tab1">
      <ion-icon color-selected="secondary" name="calendar-sharp"></ion-icon>
      <ion-label>{{ 'MEDICOTABS.primera' | translate  }}</ion-label>
    </ion-tab-button>

    <ion-tab-button color-selected="secondary" tab="tab2">
      <ion-icon name="add-outline"></ion-icon>
      <ion-label>{{ 'MEDICOTABS.segunda' | translate  }}</ion-label>
    </ion-tab-button>

    <ion-tab-button color-selected="secondary" tab="tab3">
      <ion-icon name="construct-sharp"></ion-icon>
      <ion-label>{{ 'MEDICOTABS.tercera' | translate  }}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>