<ion-header >
  <ion-toolbar  color="light">
    <ion-title>{{ 'HOME.title' | translate}}</ion-title>

   


      <ion-buttons slot="primary">
        <ion-button color="primary" (click)="openLanguagePopover($event)">
          <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical" ></ion-icon>
        </ion-button>



      </ion-buttons>

 


  </ion-toolbar>

  
  
</ion-header>

<ion-content color="light">
 

  <ion-card color="secondary">
    
    <ion-card-header  (click)="go(0)">
      <img src="../assets/imgs/patient.png"  width="100" style="align-items: center;"   />
      <ion-card-subtitle> {{'CHOOSE.patient_text' | translate}}</ion-card-subtitle>
      <ion-card-title> {{'CHOOSE.patient' | translate}}</ion-card-title>
    </ion-card-header>
  
  
  </ion-card>

  <ion-card color="tertiary"  (click)="go(1)">
    <img src="../assets/imgs/doctor.png" width="100" />
    <ion-card-header>
      <ion-card-subtitle> {{'CHOOSE.doctor_text' | translate}}</ion-card-subtitle>
      <ion-card-title> {{'CHOOSE.doctor' | translate}}</ion-card-title>
    </ion-card-header>
  
  
  </ion-card>

 


</ion-content>
