<ion-header >
  <ion-toolbar  color="light">
    <ion-title color="secondary"> {{'PACIENTEACTUAL.title' | translate }} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color= "light">

  <ion-list>
    <ion-list-header color="secondary">
      {{'PACIENTEACTUAL.caption' | translate }}
    </ion-list-header>


    <ion-item *ngFor="let item of data; index as i" >
    
      <ion-avatar slot="start">

        <ion-icon color="secondary" [name]="item.icon"></ion-icon>
        
      </ion-avatar>
      <ion-label class="ion-text-wrap">
      
        <h3>{{ item.pregunta | translate }}</h3>
       
      </ion-label>
      <ion-checkbox color="secondary" (ionChange)="addCheckbox($event,item.valor)"  slot="end" name="checkmark"   ></ion-checkbox>
    </ion-item>

    
  </ion-list>
  <ion-button expand="block" (click) = "getCheckedBoxes()" color="secondary">

    {{ 'BOTONES.enviar' | translate }}
</ion-button>
  


</ion-content>
